{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "settings": {
    "import/core-modules": ["electron"]
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  }
}
