body {
    margin: 0;
    background: #36393E;
    color: #ddd;
    font: 14px -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    cursor: default;
    -webkit-user-select: none;
}

#title-bar {
    height: 38px;
    background: #2E3136;
    border-bottom: 1px solid #1E2124;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    -webkit-app-region: drag;
}

p {
    margin: 0 0 8px 0;
}
a {
    color: #29ab87;
    text-decoration: none;
}
