$darkPrimary:     #2E3136;
$darkSecondary:   #36393E;
$darkTertiary:    #1E2124;

$accentPrimary:   #29ab87;
$accentSecondary: #31cba0;
$accentTertiary:  #218b6e;

$textPrimary:     #cccccc;
$textSecondary:   #ffffff;
$textTertiary:    #999999;

body {
  margin: 0;
  background: $darkSecondary;
  color: $textPrimary;
  font: 14px -apple-system, BlinkMacSystemFont, sans-serif;
}

#title-bar {
  height: 38px;
  background: $darkPrimary;
  border-bottom: 1px solid $darkTertiary;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

::selection { background: transparentize($accentPrimary, .5) }
