@import 'main';

body {
  text-align: center;

  #icon {
    width: 80px;
    margin-top: 10px;
    -webkit-user-select: none;
  }

  p {
    margin-top: 5px;
    margin-bottom: 10px;
    color: $textTertiary;

    &#description { color: $textPrimary }
  }

  a {
    color: $accentPrimary;
    text-decoration: none;
  }
}
