@import 'main';

#container {
  padding: 10px;
  cursor: default;
  -webkit-user-select: none;

  .field-container {
    display: flex;

    .field:not(:first-child) { margin-left: 10px; }
    &:last-of-type .field { margin-bottom: 0; }
  }

  .field {
    width: 100%;
    margin-bottom: 12px;

    input[type=text], input[type=number], select {
      width: 100%;
      box-sizing: border-box;
      margin-top: 5px;
      font-size: inherit;
      outline: none;
      border-radius: 5px;
      border: 3px solid $textPrimary;
      padding: 5px;
      -webkit-appearance: none;
      transition: .2s;

      &:focus { border: 3px solid $accentPrimary; }
    }
    select { cursor: pointer; }

    #help-button {
      padding: 5px;
      background: $accentPrimary;
      border: 3px solid $accentTertiary;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $textSecondary;
      text-decoration: none;
      border-radius: 3px;
      margin-top: 22px;
      transition: .2s;
      outline: none;

      &:hover, &:focus {
        background: $accentSecondary;
        border: 3px solid $accentPrimary;
      }
    }

    .description {
      font-size: 12px;
      color: $textTertiary;
      display: block;
    }
  }
}
