body {
    margin: 0;
    background: #36393E;
    color: #ddd;
    font: 14px -apple-system, BlinkMacSystemFont, sans-serif;
    cursor: default;
    -webkit-user-select: none;
}

#title-bar {
    height: 38px;
    background: #2E3136;
    border-bottom: 1px solid #1E2124;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-app-region: drag;
}

#container {
    padding: 10px;
}

.field-container {
    display: flex;
}
.field-container:last-of-type .field {
    margin-bottom: 0;
}

.field {
    width: 100%;
    margin-bottom: 12px;
}
.field-container .field:not(:first-child) {
    margin-left: 10px;
}

input[type=text], select {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    border: 3px solid #ccc;
    padding: 5px;
    -webkit-appearance: none;
    transition: .2s;
}
input[type=text]:focus, select:focus {
    border: 3px solid #29ab87;
}

#help-button {
    padding: 5px;
    background: #29ab87;
    border: 3px solid #218b6e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 22px;
    transition: .2s;
    outline: none;
}
#help-button:hover, #help-button:focus {
    background: #31cba0; border: 3px solid #29ab87;
}

.tip {
    font-size: 12px;
    color: #aaa;
    display: block;
}

::selection { background: rgba(41, 171, 135, .5); }
